<section
  class="min-h-screen bg-gray-900 text-white flex flex-col items-center justify-center px-4"
>
  <div class="max-w-3xl text-center space-y-6">
    <h1 class="text-4xl md:text-5xl font-bold">Bienvenue sur mon portfolio</h1>
    <p class="text-lg md:text-xl text-gray-300">
      Je m'appelle Antoine, développeur C# et Angular avec 3 ans d'alternance et
      6 mois d'expérience en CDI. J'aime créer des applications robustes,
      ergonomiques et utiles, avec une vraie attention portée à l'expérience
      utilisateur. Je m’oriente désormais vers un rôle de Product Owner junior,
      notamment en Suisse, où je souhaite combiner mes compétences techniques et
      ma vision produit.
    </p>
    <p class="text-gray-400">
      Actuellement en mission chez Pilott via Fokus, je travaille sur une
      application de gestion d’intérimaires et je participe à la conception
      d'une future application mobile dédiée aux chefs de chantier.
    </p>
    <p class="text-gray-400">
      En dehors du travail, je suis passionné par les jeux de stratégie comme
      Anno ou Crusader Kings, j'adore bricoler avec Tailwind et TypeScript, et
      je vis avec Choco, mon chat né en septembre 2024.
    </p>
    <a
      routerLink="/projets"
      class="inline-block mt-6 bg-indigo-600 hover:bg-indigo-500 text-white font-semibold px-6 py-3 rounded-full transition duration-300"
    >
      Voir mes projets
    </a>
  </div>
</section>
