<div class="min-h-screen bg-gray-900 text-white p-8">
  <div class="max-w-4xl mx-auto">
    <header class="text-center mb-8">
      <h1 class="text-4xl font-bold">Contactez-moi</h1>
    </header>

    <div class="flex flex-col md:flex-row items-center mb-8">
      <div class="w-full md:w-1/3 mb-4 md:mb-0 md:mr-8">
        <img
          src="path/to/your-photo.jpg"
          alt="Votre Photo"
          class="w-full rounded-lg"
        />
      </div>
      <div class="w-full md:w-2/3">
        <h2 class="text-2xl font-bold mb-4">Antoine Bigeard</h2>
        <p class="mb-4">
          Je suis un développeur Full Stack passionné par la création
          d'applications web innovantes. N'hésitez pas à me contacter pour
          discuter de projets potentiels ou simplement pour échanger sur la
          technologie.
        </p>
        <div class="mb-4">
          <h3 class="text-xl font-semibold mb-2">Coordonnées</h3>
          <p class="mb-2">
            Email:
            <a href="mailto:antoine.bigeard@example.com" class="text-blue-400"
              >antoine.bigeard</a
            >
          </p>
          <p class="mb-2">Téléphone: +33 1 23 45 67 89</p>
          <p class="mb-2">Adresse: 123 Rue de Paris, 75000 Paris, France</p>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-2">Réseaux Sociaux</h3>
          <p class="mb-2">
            LinkedIn:
            <a
              href="https://www.linkedin.com/in/antoine-bigeard-133252173/"
              class="text-blue-400 hover:underline"
              target="_blank"
              >https://www.linkedin.com/in/antoine-bigeard-133252173/</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
