<!-- Remove top padding and make navbar absolutely at the top with no margin -->
<nav class="fixed top-0 left-0 w-full z-50 flex justify-center">
  <div class="bg-gray-950 text-white shadow-lg rounded-full px-6 py-2 mt-2">
    <ul class="flex justify-center items-center gap-6 text-sm">
      @for (items of items;track $index) {
      <li>
        <a
          [routerLink]="items.path"
          class="flex items-center gap-1 px-3 py-1.5 rounded-full hover:bg-gray-700 cursor-pointer transition duration-200"
        >
          <!-- <span class="text-lg">{{ items.icon }}</span> -->
          <span>{{ items.label }}</span>
        </a>
      </li>

      }
    </ul>
  </div>
</nav>
